<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="./js/bootstrap.min.js"></script>
    <title>CRUD Registro de usuario con NestJs</title>
</head>
<body>
    <div class="registerFormContainer">
        <h2 class="crud-title text-primary">User Register</h2>
        <form action="" id="formulario">
            <div class="flex">
                <div class="inputBox" id="grupo__nombre">
                    <label for="nombre" class="label">Your Name</label>
                    <div class="grupo-input">
                        <input type="text" name="nombre" id="nombre" placeholder="fernando" class="input">
                        <i class="fas fa-times-circle validacion-estado"></i>
                     </div>
                     <p class="input-error">the name can only contain letters</p>
                </div>
                <div class="inputBox" id="grupo__apellido">
                    <label for="apellido" class="label">Your LastName</label>
                    <div class="grupo-input">
                        <input type="text" name="apellido" id="apellido" placeholder="carrera" class="input">
                        <i class="fas fa-times-circle validacion-estado"></i>
                     </div>
                     <p class="input-error">the lastname can only contain letters</p>
                </div>
            </div>
            <div class="flex">
                <div class="inputBox" id="grupo__usuario">
                    <label for="usuario" class="label">Your User</label>
                    <div class="grupo-input">
                        <input type="text" name="usuario" id="usuario" placeholder="fersama07" class="input">
                        <i class="fas fa-times-circle validacion-estado"></i>
                     </div>
                     <p class="input-error">the username must be from 4 to 16 digits can only contain numbers, letters and underscore</p>
                </div>
                <div class="inputBox" id="grupo__correo">
                    <label for="correo" class="label">Your Email</label>
                    <div class="grupo-input">
                        <input type="email" name="correo" id="correo" placeholder="email@dominio.com" class="input">
                         <i class="fas fa-times-circle validacion-estado"></i>
                     </div>
                     <p class="input-error">the email can only contain numbers, letters and underscore</p>
                </div>
            </div>
            <div class="flex">
                <div class="inputBox" id="grupo__telefono">
                    <label for="telefono" class="label">Your Telephone</label>
                    <div class="grupo-input">
                        <input type="tel" name="telefono" id="telefono" placeholder="+584706464" class="input">
                         <i class="fas fa-times-circle validacion-estado"></i>
                     </div>
                     <p class="input-error">telephone only must contain numbers and max 14 digits</p>
                </div>
                <div class="inputBox" id="grupo__country">
                    <label for="country class="label">Country</label>
                    <div class="grupo-input">
                        <input type="text" name="country" id="country" placeholder="venezuela" class="input">
                         <i class="fas fa-times-circle validacion-estado"></i>
                     </div>
                     <p class="input-error">the country can only contain letters</p>
                </div>
            </div>
            <div class="flex">
                <div class="inputBox">
                    <label class="label" for="documentType">Document Type</label>
                    <select name="documento" id="documentType" class="input">
                        <option value="V">V</option>
                        <option value="E">E</option>
                    </select>
                </div>
                <div class="inputBox" id="grupo__ci">
                    <label for="ci" class="label">Your CI</label>
                    <div class="grupo-input">
                        <input type="text" name="ci" id="ci" placeholder="20993960" class="input">
                         <i class="fas fa-times-circle validacion-estado"></i>
                     </div>
                     <p class="input-error">ci only must contain numbers between 7 and 9 digits</p>
                </div>
            </div>

            <div class="mensaje" id="mensaje">
                <p><i class="fas fa-exclamation-triangle"></i><b> Err</b> Please fill in all the fields correctly</p>
            </div>
            
            <div class="btn-enviar">
                 <button type="submit" value="register" class="btn">Register</button>
                 <input type="hidden" name="id">
                 <p class="mensaje-exito" id="mensaje-exito">Register Completed</p>
            </div>
        </form>

        <article>
            <h2 class="text-primary">Users</h2>
            <table class="table crud-table">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">username</th>
                    <th scope="col">email</th>
                    <th scope="col">telephone</th>
                    <th scope="col">Country</th>
                    <th scope="col">Type document</th>
                    <th scope="col">CI</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                        {{#each user}}
                        <tr>
                            <td data-nombre={{nombre}}>{{nombre}}</td>
                            <td data-apellido={{apellido}}>{{apellido}}</td>
                            <td data-username={{username}}>{{username}}</td>
                            <td data-email={{email}}>{{email}}</td>
                            <td data-telefono={{telefono}}>{{telefono}}</td>
                            <td data-pais={{pais}}>{{pais}}</td>
                            <td data-documento={{documento}} class="text-center">{{documento}}</td>
                            <td data-ci={{ci}}>{{ci}}</td>
                             <td>
                                <button class="edit bg-success" data-id={{_id}}>Editar</button>
                                <button class="delete bg-danger" data-id={{_id}}>Eliminar</button>
                            </td>
                        </tr>
                        {{/each}}
                </tbody>
                </table>
          </article>
    
    </div>

 
 <script src="./js/registerManager.js"></script>
</body>
</html>